{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "singleAttributePerLine": false,
  "bracketSameLine": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "strict",
  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "(.*)/design(.*)",
    "(.*)/env/(.*)",
    "(.*).json(.*)",
    "(.*)/types(.*)",
    "(.*)/hooks(.*)",
    "(.*)/store(.*)",
    "(.*)/slice(.*)",
    "(.*)/sagas(.*)",
    "(.*)/utilities(.*)",
    "(.*)/transforms(.*)",
    "(.*)/contexts(.*)",
    "(.*)/routes(.*)",
    "(.*)/pages(.*)",
    "(.*)/components(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
